<section class="landing-page">
  <div class="center-logo">
    <%= image_tag "pom_background.png", alt: "POM Logo", class: "pom-logo-large" %>
  </div>

  <h1 class="tagline">Grow Where You Are Planted</h1>

  <p class="description">
    A calming space to track your garden, your growth, and your gratitude.<br>
    Nurture your peace — one entry, one plant, one recipe at a time.
  </p>

  <div class="landing-buttons">
  <% if current_user %>
    <%= link_to "Go to Dashboard", dashboard_path(current_user), class: "btn green-btn" %>
  <% else %>
    <%= link_to "Log In", login_path, class: "btn green-btn" %>
    <%= link_to "Sign Up", signup_path, class: "btn terracotta-btn" %>

  <% end %>
</div>
</section>

